.MiniCard {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    position: relative;
    cursor: pointer;

    img {
        transition: transform .2s;

        height: 8rem;
        // width: auto;
        border-radius: 6px;

        &:hover {
            transform: scale(1.1)
        }
    }

    &-name {
        position: absolute;
        bottom: 1px;
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
    }

}