/* .form {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0;
} */

/* .form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  } */

  /* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='number'],
.form textarea {
  /* display: block; */
  /* width: 100%; */
  /* padding: 0.4rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: 1px solid #ccc; */
}


.form input[type='submit'] {
    padding: 1rem;
}