.sidebar-matches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-content: center;
	// max-width: 80%;
	// height: 100%;
	margin: 0 auto;
	padding: 30px 0 0;
    // column-gap: 1px;
}